.login-main-page-content {
  --background: white;
  height: 100%;
}
.login-main-grid {
  /* display: flex; */
  height: 100vh;
  /* flex-direction: column; */
  justify-content: space-around;
  padding: 5%;
}
.mancar-row {
  display: flex;
}
/* .mancar{
    display: flex;
} */
.Login-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
}
.Login {
  display: flex;
  text-align: center;
  font-size: 2rem;
  color: black;
}
.login-input-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-email-input {
  display: flex;
  color: black;
  /* opacity: 9; */
  border-radius: 7px;
  margin-top: 25px;
  height: 45px;
  background-color: rgb(241, 236, 224);
  text-align: center;
}
.login-password-input {
  display: flex;
  color: black;
  /* opacity: 9; */
  border-radius: 7px;
  margin-top: 25px;
  height: 45px;
  background-color: rgb(241, 236, 224);
  text-align: center;
}
.login-btn-row {
  display: flex;
  justify-content: center;
  /* margin-top: 10px; */
}
.login-submit-button {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  height: 35px;
  width: 90px;
  font-size: 14px;
  color: white;
}
.login-text-row {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.login-text {
  display: flex;
  font-size: 13.8px;
  color: black;
}
.SignUp-text {
  display: flex;
  color: blue;
}
.img-btn-row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.img-col {
  display: flex;
  justify-content: center;
}
.facebook-btn {
  display: flex;
  border-radius: 10px;
  font-size: 12px;
  color: black;
}
.face-img {
  display: flex;
  margin-right: 5vw;
  height: 20px;
  width: 20px;
}
.insta-btn {
  display: flex;
  border-radius: 10px;
  font-size: 12px;
  color: black;
}
.insta-img {
  display: flex;
  margin-right: 5vw;
  height: 25px;
  width: 25px;
}
