.arrow-back-icon{
    display: flex;
    margin-right: 30px;
}
.settings-row{
    display: flex;
    margin-top: 60px;
}
.settings-col{
    display: flex;
    font-size: 25px;
    margin-right: 140px;
}
.setting-main-content{
    --background: white;
}
.setting-main-grid{
   background: rgb(249, 247, 247);
   border-radius: 20px 20px 0 0;
   margin-top: 0px;
   
}
.setting-grid-row{
    display: flex;
    padding: 6%;
    font-size: 18px;
    margin-left: 20px;
    
}
