.setting-main-content{
    --background: white;
  height: 100%;
}
.setting-main-grid{
    height: 100vh;
  justify-content: space-around;
  padding: 5%;
}
.setting-main-card-row{
    display: flex;
    justify-content: center;
    margin-top: 120px;
}
.setting-main-card{
    display: flex;
    height: 520px;
    width: 335px;
}
.setting-logout-btn{
    display: flex;
    -ms-flex-align: center;
}