.signup-main-page-content {
  --background: white;
  height: 100%;
}
.signup-main-grid {
  /* display: flex; */
  height: 100vh;
  /* flex-direction: column; */
  justify-content: space-around;
  padding: 5%;
}
.mancar-row {
  display: flex;
}
.mancar {
  height: 250px;
  /* top: 20px; */
}
.signup-title-row {
  display: flex;
  /* justify-content: center;
    align-items: center; */
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 30px; */
  /* margin-top: 30px; */
}
.signup {
  /* top: 23px; */
  text-align: center;
  font-size: 2rem;
  color: black;
}
.signup-input-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 200px; */
  /* padding: %; */
  /* margin-top: 30px; */
}
.signup-uname-input {
  color: black;
  margin-top: 20px;
  opacity: 9;
  border-radius: 7px;
  /* top: 40px; */
  /* left: 30px; */
  /* width: 260px; */
  height: 40px;
  background-color: rgb(241, 236, 224);
  text-align: center;
}
.signup-number-input {
  color: black;
  opacity: 9;
  border-radius: 7px;
  margin-top: 20px;
  /* left: 30px; */
  /* width: 260px; */
  height: 40px;
  background-color: rgb(241, 236, 224);
  text-align: center;
}
.signup-email-input {
  color: black;
  opacity: 9;
  border-radius: 7px;
  margin-top: 20px;
  /* left: 30px; */
  /* width: 260px; */
  height: 40px;
  background-color: rgb(241, 236, 224);
  text-align: center;
}
.signup-password-input {
  color: black;
  opacity: 9;
  border-radius: 7px;
  margin-top: 20px;
  /* left: 30px; */
  /* width: 260px; */
  height: 40px;
  background-color: rgb(241, 236, 224);
  text-align: center;
}
.signup-btn-row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.signup-submit-button {
  margin-top: 20px;
  /* left: 110px; */
  width: 90px;
  font-size: 14px;
  height: 35px;
}
.signup-text {
  /* top: 140px; */
  /* right: 33px; */
  font-size: 15px;
  color: black;
}
.signup-text-row {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.Login-text {
  color: blue;
}
