.home-main-content {
  --background: white;
  height: 100%;
}
.home-main-grid {
  height: 100vh;
  justify-content: space-around;
  padding: 5%;
}
.home-img-row {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 600px;
}
.taxivip {
  display: flex;
  margin-top: 30px;
  margin-left: -215px;
  height: 19px;
}
.maincar-img {
  display: flex;
  height: 400px;
  width: 414px;
  margin-left: -21px;
}
.home-button-row {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.mob-num-email-btn {
  display: flex;
  justify-content: center;
  width: 230px;
  /* height: 42px; */
  border-radius: 10px;
  font-size: 13px;
  color: black;
}
/* .img-btn-row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.img-col {
  display: flex;
  justify-content: center;
}
.facebook-btn {
  font-size: 12px;
  color: black;
}
.face-img {
  margin-right: 5vw;
}
.insta-btn {
  border-radius: 10px;
  font-size: 12px;
  color: black;
}
.insta-img {
  margin-right: 5vw;
} */
.copyrights-row {
  display: flex;
  justify-content: flex-end;
}
.copyrights {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  color: black;
}
