.home-main-content {
  --background: white;
  height: 100%;
}
.home-main-grid {
  height: 100vh;
  justify-content: space-around;
}
.home-img-row {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.taxivip {
  display: flex;
  margin-top: 50px;
  height: 19px;
}
.maincar-img {
  display: flex;
  height: 400px;
}
.home-button-row {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.mob-num-email-btn {
  display: flex;
  justify-content: center;
  width: 230px;
  border-radius: 10px;
  font-size: 13px;
  color: black;
}
.copyrights-row {
  display: flex;
  justify-content: flex-end;
}
.copyrights {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  color: black;
}
