.landingpage-main-content {
  --background: white;
  height: 100%;
}
.landingpage-main-grid {
  height: 100vh;
  /* justify-content: space-around; */
  /* padding: 1%; */
}
.landingpage-img-row {
  display: flex;
  justify-content: center;
  width: 700px;
  margin-left: -150px;
}
.map-img {
  margin-top: 0px;
  /* height: 270px; */
  width: 420px;
  margin-left: 1px;
}
.landpage-pick-card {
  position: absolute;
  display: flex;
  justify-content: center;
  --background: white;
  height: 53px;
  width: 370px;
}
.pickup-search {
  width: 260px;
  margin: 0px;
  font-size: medium;
  text-align: center;
  color: black;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.settings-icon {
  margin: 10px;
}
.landingpage-booking-vehicles {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}
.landingpage-dashboard-col {
  display: flex;
  flex-direction: column;
}
.dashboard-img {
  display: flex;
  position: relative;
  height: 60px;
  width: 60px;
  margin-left: 10px;
}
.car-vehicle-name {
  display: flex;
  position: relative;
  margin-left: 23px;
  font-size: 16px;
  color: black;
}
.landingpage-auto-img-col {
  display: flex;
  flex-direction: column;
}
.auto-img {
  display: flex;
  position: relative;
  height: 60px;
  width: 60px;
  /* margin-left: 0px; */
}
.auto-vehicle-name {
  display: flex;
  position: relative;
  margin-left: 11px;
  font-size: 16px;
  color: black;
}
.landingpage-bike-img-col {
  display: flex;
  flex-direction: column;
}
.bike-img {
  display: flex;
  position: relative;
  height: 50px;
  width: 60px;
  margin-left: 0px;
  margin-top: 2px;
}
.bike-vehicle-name {
  display: flex;
  position: relative;
  margin-left: 15px;
  margin-top: 8px;
  font-size: 16px;
  color: black;
}
.landingpage-dashboard-img2-col {
  display: flex;
  flex-direction: column;
}
.dashboard-img2 {
  display: flex;
  position: relative;
  height: 60px;
  width: 60px;
  margin-left: 2px;
}
.rental-vehicle-name {
  display: flex;
  position: relative;
  margin-left: 10px;
  font-size: 16px;
  color: black;
}
.landingpage-destination-card-row {
  display: flex;
  justify-content: center;
  width: 570px;
  margin-left: -150px;
}
.landpage-main-card {
  position: relative;
  top: 0px;
  height: 180px;
  width: 380px;
  margin-left: 150px;
  --background: white;
}
.landingpage-destination-search {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 0px;
}
.location1 {
  display: flex;
  margin-left: 15px;
  color: black;
}
.location2 {
  display: flex;
  margin-left: 15px;
  margin-top: 10px;
  color: black;
}
.location3 {
  display: flex;
  margin-left: 15px;
  margin-top: 10px;
  color: black;
}
.location4 {
  display: flex;
  margin-left: 15px;
  margin-top: 10px;
  color: black;
}
.landingpage-image-card-row {
  display: flex;
  justify-content: center;
  margin-bottom: -10px;
}
.image-card {
  top: -8px;
  height: 200px;
  width: 370px;
  margin-left: 15px;
}