.signup-main-page-content {
  --background: white;
  height: 100%;
}
.signup-main-grid {
  height: 100vh;
  justify-content: space-around;
  padding: 4%;
}
.mancar-row {
  display: flex;
}
.mancar {
  height: 250px;
}
.signup-title-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup {
  text-align: center;
  font-size: 2rem;
  color: black;
}
.signup-input-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup-uname-input {
  display: flex;
  color: black;
  margin-top: 20px;
  opacity: 9;
  border-radius: 7px;
  height: 40px;
  background-color: rgb(241, 236, 224);
  text-align: center;
}
.signup-number-input {
  display: flex;
  color: black;
  opacity: 9;
  border-radius: 7px;
  margin-top: 20px;
  height: 40px;
  background-color: rgb(241, 236, 224);
  text-align: center;
}
.signup-email-input {
  display: flex;
  color: black;
  opacity: 9;
  border-radius: 7px;
  margin-top: 20px;
  height: 40px;
  background-color: rgb(241, 236, 224);
  text-align: center;
}
.signup-password-input {
  display: flex;
  color: black;
  opacity: 9;
  border-radius: 7px;
  margin-top: 20px;
  height: 40px;
  background-color: rgb(241, 236, 224);
  text-align: center;
}
.signup-btn-row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.signup-submit-button {
  margin-top: 20px;
  width: 90px;
  font-size: 14px;
  height: 35px;
}
.signup-text {
  font-size: 15px;
  color: black;
}
.signup-text-row {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.Login-text {
  color: blue;
}
